<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>contact</title>
</head>

<body>
    <div id="content">

        <h2>hello in Contact</h2>
        <hr>
        <p>contact can be Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ea repellat nostrum, dolore autem velit explicabo vel sed magni quas quae cupiditate quidem obcaecati doloribus, blanditiis ducimus. Nulla nisi voluptate cumque perspiciatis rem.</p>
    </div>

    <script>
        console.log("inside contact's log");
    </script>
</body>

</html>