<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
    <title>About</title>
</head>

<body>
    <div id="content">
        <hr>
        <h2>hello in Home</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste assumenda est sint enim accusantium dolorem
            eligendi, commodi, aspernatur laudantium, repellendus consequatur molestias quos laborum ab. Earum quia
            facere adipisci dolorem! Explicabo, ipsum veritatis.</p>
    </div>

    <script>
        console.log("inside home's log");
    </script>
</body>

</html>