<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">

<head>
    <title>Services</title>
</head>

<body>
    <div id="content">
      
        <h2>hello in Services</h2>
        <hr>
        <p>this is serviceses Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus dolores
            vel assumenda, laborum possimus iste eaque beatae. Fugiat ducimus exercitationem delectus enim, sed ex
            voluptate temporibus voluptas labore porro atque. Dolorum! Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Iste assumenda est sint enim accusantium dolorem
            eligendi, commodi, aspernatur laudantium, repellendus consequatur molestias quos laborum ab. Earum quia
            facere adipisci dolorem! Explicabo, ipsum veritatis.</p>
    </div>
</body>

</html>